<nav *ngIf="showNavBar" class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid, navbar">
    <a class="navbar-brand">INTER-NEG</a>
    </div>
</nav>
<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/ruta1">Sale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ruta2">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ruta2">Client</a>
    </li>
  </ul>
</div>